@font-face {
    font-family: 'Gotham Book';
    src: url(fonts/Gotham-Book.otf);
}
@font-face {
    font-family: 'Gotham Bold';
    src: url(fonts/GOTHAM-BOLD.TTF);
}
@font-face {
    font-family: 'Akrobat Regular';
    src: url(fonts/Akrobat-Regular.otf);
}
@font-face {
    font-family: 'Akrobat Bold';
    src: url(fonts/Akrobat-Bold.ttf);
}
@font-face {
    font-family: 'Akrobat SemiBold';
    src: url(fonts/Akrobat-SemiBold.ttf);
}
@font-face {
    font-family: 'Billion Dreams';
    src: url(fonts/BillionDreams_PERSONAL.ttf);
}
@font-face {
    font-family: 'Vultures';
    src: url(fonts/Taken-by-Vultures.otf);
}

:root{
    /* --primary: #F3B770; */
    --primary: #ffaf4e;
    --light: #F5F5F5;
    --dark: #2C221D;
    --accent: #FD9F71;
}



/*Global*/

*{
    font-family: 'Gotham Book';
    font-weight: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    font-size: 16px;
    background-color: var(--dark);
    position: relative;

    overflow-x: hidden;
    
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}
button{
    padding: 1em 1.5em;
    border-radius: 100px;
    border: none;
    width: max-content;
    cursor: pointer;
}



/* typography */
h1{
    font-size: 5.5rem;
    font-family: 'Billion Dreams';
    line-height: .7em;
    font-weight: none;
    font-size: clamp(6rem, 20vw, 10rem);
}
h2{
    font-family: 'Akrobat Regular';
    font-size: 3rem;
}
h3{
    font-family: 'Akrobat SemiBold';
    font-size: 1.8rem;
    letter-spacing: .1em;
}
h4{
    font-family: 'Gotham Bold';
    font-size: 1.2rem;
}
h5{
    font-family: 'Vultures';
    font-size: 6rem;
    line-height: .3em;
}
li a, button{
    font-family: 'Akrobat SemiBold';
    font-size: 1.2rem;
    letter-spacing: .05em;
}
p{
    font-family: 'Gotham Book';
    font-size: 1rem;
    letter-spacing: .05em;
}





.header{
    position: absolute;
    width: 100%;
    min-width: 360px;
    min-height: 10vh;
    display: grid;
    place-items: center;
}
.header .nav-links{
    display: flex;
    justify-content: space-between;
    width: 40vw;
    min-width: 260px;  
}
.header .nav-links li{
    white-space: nowrap;
}
.header .nav-links li a{
    color: var(--light);
    transition: color .3s;
    /* font-size: clamp(10px, 2vw, .8rem);  */
}
.header .nav-links li a:hover{
    color: var(--light);
}
.header .burger{
    display: none;
    cursor: pointer;
}
.header .burger>*{
    font-size: 1.5rem;
}



/* hero */
.hero{
    background: url(imgs/pexels-jonathan-borba-2983099.jpg), #777777;
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;

    display: grid;
    place-items: center;
    height: 100vh;
}
    .hero .socials{
        position: absolute;
        width: 10%;
        height: 100%;
        left: 0;
        display: grid;
        place-items: center;
    }
    .hero .socials .social-links{
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .hero .socials .social-links li a{
        font-size: 2rem;
        color: var(--light);
    }

    .hero-content{
        text-align: center;
        color: var(--light);
    }
    .hero-content h1{
        font-size: 17rem;
        color: var(--primary);
    }





/* features */
.services{
    height: 100vh;
    position: relative;
}
    .services .container{
        width: 70vw;
        margin: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        z-index: 2;
    }
    .services .container h1{
        color: var(--primary);
        margin: 0 0 80px;
    }
    .services .container .cards{
        display: flex;
        width: 80%;
        color: var(--light);
        gap: 3em;
    }
        .services .container .cards>*{
            flex: 1;
            text-align: right;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 250px;
            justify-content: space-between;
            
        }
        .services .container .cards>* i{
            font-size: 3rem;
            margin-bottom: 30px;
        }
    .services .background{
        position: absolute;
        top: 0;
        height: 120%;
        mix-blend-mode: lighten;
    }






/* offers */
.offers{
    background-color: inherit;
    display: grid;
    place-items: center;
    height: 70vh;
}
    .offers .items{
        display: grid;
        overflow-x: auto;
        width: 60%;
        height: 100%;
        /* background: #bababa; */
        box-shadow: 0px 0px 200px rgba(0, 0, 0, 0.7);
        position: relative;
    }
    .offers .items>*{
        grid-row: 1/2;
        grid-column: 1/2;
        transition: opacity .3s ease-out;
    }
        .offers .items .name{
            color: var(--primary);
            z-index: 2;
            place-self: center;
            pointer-events: none;
            position: absolute;
            text-align: center;
            width: 60%;
        }
        .offers .items .name h1{
            text-shadow: 0px 0px 150px rgba(0, 0, 0, .7);
            margin-bottom: 30px;
        }
        .offers .items .name p{
            color: var(--dark);
        }
        .offers .items .images{
            height: 50vh;
            display: flex;
            min-width: 600px;
            height: 100%;
            min-height: 400px;
        }
        .offers .items .images>*{
            flex: 1 1 100%;
            min-width: 10px;
            background-position: center;
            background-size: cover;
            transition: all .3s;
            object-fit: cover;
        }
.offers .images:hover{
    opacity: .6;
}
.offers .items .images>*:hover{
    opacity: .4;
}







/* about us */
.about-us{
    height: 100vh;
    color: var(--light);
    display: grid;
    place-items: center;
    position: relative;
}
.about-us .container{
    display: flex;
    width: 70vw;
    margin: auto;
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
}
.about-us .container .content{
    margin-top: 180px;
    width: 40%;
}
.about-us .container .content h1{
    margin-bottom: 40px;
    color: var(--primary);
}
.about-us .container .content p{
    text-align: center;
    padding: 0 3em;
}
.about-us .background{
    position: absolute;
    bottom: 0;
    width: 100%;
    pointer-events: none;
}
/* font-size: clamp(10px, 2vw, .8rem);  */





/* menu */
.featured{
    background-color: var(--primary);
    height: 100vh;
    position: relative;
}
.featured .container{
    
    width: 70vw;
    margin: auto;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}
.featured .container .content{
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: right;
    align-items: flex-end;
}
.featured .container .content .title{
    text-align: center;
    margin-bottom: 50px;
}
.featured .container .content .items{
    display: flex;
    gap: 1em;
}
.featured .container .content .items>*{
    flex: 1;
    object-fit: cover;
    width: 100%;
}
.featured .container .content button{
    background: var(--dark);
    color: var(--light);
    margin-top: 50px;
}
.featured .images{
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    position: absolute;
    
    display: flex;
    align-items: center;
}
.featured .images .buttons{
    position: absolute;
    display: flex;
    padding: 0 100px;
    justify-content: space-between;
    width: 100%;

}
.featured .images .buttons button{
    padding: 1em;
    display: flex;
    align-items: center;
    aspect-ratio: 1/1;
    font-size: 1.3rem;
}
.featured .images img{
    width: 50vw;
    
}







/* footer */
footer{
    height: 70vh;
}
footer .container{
    width: 70vw;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: flex-end;
    padding-bottom: 180px;
}
footer .columns{
    flex: 3;
    display: flex;
    justify-content: space-between;
    color: var(--light);
}
footer .columns a{
    color: var(--light);
}
footer .columns .col>*{
    margin-bottom: 50px;
}
footer .columns .col>*>*{
    margin-bottom: 7px;
}
footer .container .socials a i{
    font-size: 2rem;
}

footer .side{
    flex: 2;
    padding: 0 3em;
    text-align: center;
    color: #413934;
}
footer .side h1{
    margin-bottom: 30px;
}






/* media query */
@media screen and (max-width: 768px){ /*tablet*/

}

@media screen and (max-width: 480px){ /*phone*/

}